body {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background-color: #F5F5F5;
}

#main .sec {
	border:1px solid #4395A2;
	width: 400px;
	margin-left: 600px;
} 

.top {
	width: 400px;
	height: 30px;
	background-color: #4395A2;
}

p {
	margin:0 0 0 8px;
}

.header {
	margin:0 0 0 8px;
	font-family: Verdana; 
}

.topic {
	height: 0;
	overflow: auto;
	font-family: Verdana;
	transition: height .9s;
}

.top:hover {
	background-color: #5ED1E2;
}

.show {
	height: 100px;
}